<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Hedgehog-practice by twilson63</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/twilson63/hedgehog-practice">View On GitHub</a></li>
          <li class="downloads"><a href="https://github.com/twilson63/hedgehog-practice/zipball/master">ZIP</a></li>
          <li class="downloads"><a href="https://github.com/twilson63/hedgehog-practice/tarball/master">TAR</a></li>
          <li class="title">DOWNLOADS</li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>Hedgehog-practice</h1>
          <p></p>
          <hr>
          <span class="credits left">Project maintained by <a href="https://github.com/twilson63">twilson63</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span>
        </div>

        <h1>Hedgehog Practice</h1>

<p>A simple project to practice with AngularJS and Socket.IO.</p>

<h2>Requirements</h2>

<ol>
<li>NodeJS - <a href="http://nodejs.org">http://nodejs.org</a>
</li>
<li>Grunt - <code>npm install -g grunt-cli</code>
</li>
<li>Node-Dev = <code>npm install -g node-dev</code>
</li>
</ol><h2>Get Started</h2>

<ol>
<li>Clone the Repo</li>
</ol><div class="highlight"><pre>git clone https://github.com/twilson63/hedgehog-practice.git
</pre></div>

<ol>
<li>cd into app</li>
</ol><div class="highlight"><pre><span class="nb">cd </span>hedgehog-practice
</pre></div>

<ol>
<li>npm install</li>
</ol><div class="highlight"><pre>npm install
</pre></div>

<ol>
<li>run grunt</li>
</ol><div class="highlight"><pre>grunt concat
</pre></div>

<ol>
<li>run grunt watch</li>
</ol><div class="highlight"><pre>grunt watch
</pre></div>

<ol>
<li>run node-dev in new terminal</li>
</ol><pre><code>node-dev app.js
</code></pre>

<ol>
<li><p>open browser and editer</p></li>
<li><p>add search form template</p></li>
</ol><ul>
<li>Open <code>public/app/tpls/index.html</code>
</li>
</ul><div class="highlight"><pre><span class="nt">&lt;form</span> <span class="na">class=</span><span class="s">"form-search"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-append"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"search-query"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">ng-model=</span><span class="s">"query"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn"</span> <span class="na">ng-click=</span><span class="s">"search()"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-bolt"</span><span class="nt">&gt;&lt;/i&gt;</span>
    <span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/form&gt;</span>
</pre></div>

<ol>
<li>add search form client code</li>
</ol><ul>
<li>Open <code>public/app/controllers/index.js</code>
</li>
</ul><div class="highlight"><pre><span class="nx">$scope</span><span class="p">.</span><span class="nx">search</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
  <span class="nx">socket</span><span class="p">.</span><span class="nx">emit</span><span class="p">(</span><span class="s1">'search'</span><span class="p">,</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">query</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">$scope</span><span class="p">.</span><span class="nx">hogs</span> <span class="o">=</span> <span class="nx">res</span><span class="p">.</span><span class="nx">responseData</span><span class="p">.</span><span class="nx">results</span><span class="p">;</span>
  <span class="p">});</span>
<span class="p">};</span>
</pre></div>

<ol>
<li>add search form server code</li>
</ol><ul>
<li>Open <code>/app.js</code>
</li>
</ul><div class="highlight"><pre><span class="nx">socket</span><span class="p">.</span><span class="nx">on</span><span class="p">(</span><span class="s1">'search'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">q</span><span class="p">,</span> <span class="nx">fn</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">request</span><span class="p">(</span><span class="s1">'https://ajax.googleapis.com/ajax/services/search/images?v=1.0&amp;'</span> <span class="o">+</span>
   <span class="s1">'q=HedgeHog+'</span> <span class="o">+</span> <span class="nx">q</span><span class="p">,</span>
    <span class="p">{</span><span class="nx">json</span><span class="o">:</span> <span class="kc">true</span><span class="p">},</span>
    <span class="kd">function</span><span class="p">(</span><span class="nx">e</span><span class="p">,</span><span class="nx">r</span><span class="p">,</span><span class="nx">b</span><span class="p">)</span> <span class="p">{</span> <span class="nx">fn</span><span class="p">(</span><span class="nx">b</span><span class="p">);</span> <span class="p">}</span>
  <span class="p">);</span>
<span class="p">});</span>
</pre></div>

<ol>
<li>add results and select template</li>
</ol><ul>
<li>Open <code>public/app/tpls/index.html</code>
</li>
</ul><div class="highlight"><pre><span class="nt">&lt;li</span> <span class="na">ng-repeat=</span><span class="s">"hog in hogs"</span> <span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">ng-click=</span><span class="s">"select(hog)"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"chevron pull-right"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"icon-chevron-right"</span><span class="nt">&gt;&lt;/i&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pull-left"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"media-object"</span> <span class="na">style=</span><span class="s">""</span> <span class="na">ng-src=</span><span class="s">"{{hog.tbUrl}}"</span> <span class="nt">/&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media-body"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;h4&gt;&lt;div</span> <span class="na">ng-bind-html-unsafe=</span><span class="s">"hog.title"</span><span class="nt">&gt;&lt;/div&gt;&lt;/h4&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/li&gt;</span>
</pre></div>

<ol>
<li>Add select client code</li>
</ol><ul>
<li>Open <code>public/app/controllers/index.js</code>
</li>
</ul><div class="highlight"><pre><span class="nx">$scope</span><span class="p">.</span><span class="nx">select</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">hog</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">selected</span> <span class="o">=</span> <span class="nx">hog</span><span class="p">.</span><span class="nx">url</span><span class="p">;</span>
<span class="p">};</span>

</pre></div>

<ol>
<li>Add submit template</li>
</ol><ul>
<li>Open <code>public/app/tpls/index.html</code>
</li>
</ul><div class="highlight"><pre>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">ng-src=</span><span class="s">"{{selected}}"</span><span class="nt">&gt;&lt;/img&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
<span class="nt">&lt;button</span> 
  <span class="na">style=</span><span class="s">"margin-top: 20px;"</span>
  <span class="na">class=</span><span class="s">"btn pull-right"</span> 
  <span class="na">ng-show=</span><span class="s">"selected"</span>
  <span class="na">ng-click=</span><span class="s">"submit()"</span><span class="nt">&gt;</span>Submit<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;/div&gt;</span>

</pre></div>

<ol>
<li>Add submit client code</li>
</ol><ul>
<li>Open <code>public/app/controllers/index.js</code>
</li>
</ul><div class="highlight"><pre><span class="nx">$scope</span><span class="p">.</span><span class="nx">submit</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
  <span class="nx">socket</span><span class="p">.</span><span class="nx">emit</span><span class="p">(</span><span class="s1">'submit'</span><span class="p">,</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">selected</span><span class="p">);</span>
  <span class="nx">$location</span><span class="p">.</span><span class="nx">path</span><span class="p">(</span><span class="s1">'/vote'</span><span class="p">);</span>
<span class="p">};</span>

</pre></div>

<ol>
<li>Add submit server code</li>
</ol><ul>
<li>Open <code>/app.js</code>
</li>
</ul><div class="highlight"><pre><span class="nx">socket</span><span class="p">.</span><span class="nx">on</span><span class="p">(</span><span class="s1">'submit'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">url</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">db</span><span class="p">.</span><span class="nx">put</span><span class="p">(</span><span class="nx">uuid</span><span class="p">.</span><span class="nx">v1</span><span class="p">(),</span> <span class="nx">JSON</span><span class="p">.</span><span class="nx">stringify</span><span class="p">({</span><span class="nx">url</span><span class="o">:</span> <span class="nx">url</span><span class="p">,</span> <span class="nx">votes</span><span class="o">:</span> <span class="mi">0</span><span class="p">}));</span>
  <span class="nx">io</span><span class="p">.</span><span class="nx">sockets</span><span class="p">.</span><span class="nx">emit</span><span class="p">(</span><span class="s1">'addHog'</span><span class="p">,</span> <span class="nx">url</span><span class="p">);</span>
<span class="p">});</span>

</pre></div>

<ol>
<li>Add vote template </li>
</ol><ul>
<li>Open <code>/app/tpls/vote.html</code>
</li>
</ul><div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"span2"</span> <span class="na">ng-repeat=</span><span class="s">"hog in hogs"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">ng-click=</span><span class="s">"vote(hog)"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;img</span> 
      <span class="na">style=</span><span class="s">"height: 120px; width: 120px;"</span>
      <span class="na">ng-src=</span><span class="s">"{{hog.url}}"</span> 
     <span class="nt">/&gt;</span>
  <span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>

</pre></div>

<ol>
<li>Add Vote Client Code</li>
</ol><ul>
<li>open <code>/public/app/controllers/vote.js</code>
</li>
</ul><div class="highlight"><pre><span class="nx">$scope</span><span class="p">.</span><span class="nx">hogs</span> <span class="o">=</span> <span class="p">[];</span>
<span class="nx">socket</span><span class="p">.</span><span class="nx">on</span><span class="p">(</span><span class="s1">'addHog'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">hog</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">hogs</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="nx">hog</span><span class="p">);</span>
<span class="p">});</span>
<span class="nx">socket</span><span class="p">.</span><span class="nx">emit</span><span class="p">(</span><span class="s1">'hogs'</span><span class="p">);</span>
<span class="nx">$scope</span><span class="p">.</span><span class="nx">vote</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">hog</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">socket</span><span class="p">.</span><span class="nx">emit</span><span class="p">(</span><span class="s1">'vote'</span><span class="p">,</span> <span class="nx">hog</span><span class="p">);</span>
  <span class="nx">$location</span><span class="p">.</span><span class="nx">path</span><span class="p">(</span><span class="s1">'/leaders'</span><span class="p">);</span>
<span class="p">};</span>
</pre></div>

<ol>
<li>Add vote server side code</li>
</ol><div class="highlight"><pre><span class="nx">socket</span><span class="p">.</span><span class="nx">on</span><span class="p">(</span><span class="s1">'vote'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">hog</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">db</span><span class="p">.</span><span class="nx">put</span><span class="p">(</span><span class="nx">hog</span><span class="p">.</span><span class="nx">id</span><span class="p">,</span> <span class="nx">JSON</span><span class="p">.</span><span class="nx">stringify</span><span class="p">({</span>
    <span class="nx">url</span><span class="o">:</span> <span class="nx">hog</span><span class="p">.</span><span class="nx">url</span><span class="p">,</span> 
    <span class="nx">votes</span><span class="o">:</span> <span class="nx">hog</span><span class="p">.</span><span class="nx">votes</span> <span class="o">+</span> <span class="mi">1</span>
  <span class="p">}));</span>
<span class="p">});</span>
</pre></div>

<ol>
<li>Add leaders template </li>
</ol><ul>
<li>Open <code>/public/app/tpls/leaders.html</code>
</li>
</ul><div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"span2"</span> <span class="na">ng-repeat=</span><span class="s">"hog in hogs | orderBy: '-votes'"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">ng-click=</span><span class="s">"vote(hog)"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;img</span> 
      <span class="na">style=</span><span class="s">"height: 120px; width: 120px;"</span>
      <span class="na">ng-src=</span><span class="s">"{{hog.url}}"</span> 
     <span class="nt">/&gt;</span>
  <span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">style=</span><span class="s">"padding: 30px;font-size: 3em;font-weight: bold;"</span><span class="nt">&gt;</span>{{hog.votes}}<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>

<ol>
<li>Add leaders client code</li>
</ol><ul>
<li>open <code>/public/app/controllers/leaders</code>
</li>
</ul><div class="highlight"><pre><span class="nx">$scope</span><span class="p">.</span><span class="nx">hogs</span> <span class="o">=</span> <span class="p">[];</span>
<span class="c1">// insert leaders code here</span>
<span class="nx">socket</span><span class="p">.</span><span class="nx">on</span><span class="p">(</span><span class="s1">'addHog'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">hog</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">hogs</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="nx">hog</span><span class="p">);</span>
<span class="p">});</span>
<span class="nx">socket</span><span class="p">.</span><span class="nx">emit</span><span class="p">(</span><span class="s1">'hogs'</span><span class="p">);</span>
</pre></div>

<h2>Complete</h2>

<p>Now you should have a simple hedgehog voting app.</p>

<h2>Errors</h2>

<p>If you find any errors or typos, please submit issue and I will fix</p>

<p>Thanks</p>
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>